
.item {
    border: 1px solid black;
    border-radius: 6px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    width: 80%;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
}

.admin-page-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}